<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Task</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Edit Task</h1>

 
  <form action="/updatetask" method="POST">
   
    <input type="hidden" name="oldtask" value="<%= oldTask %>">
    
    <input type="text" name="updatedtask" value="<%= oldTask %>">
    
    <button type="submit">Update Task</button>
  </form>
</body>
</html>
